@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.otf") format("truetype");
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.otf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-UltraLight.otf") format("truetype");
  font-weight: 100;
}

html, body {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #f5f5f5;
  font-family: "Montserrat";
  text-align: center;
}

body .hero {
  color: white;
  height: 70vh;
  background-color: black;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center -15vh;
  background-size: cover;
  background-attachment: fixed;
}

body .hero .container {
  position: relative;
  max-width: 60vw;
}

body .hero .container h1 {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-family: "BebasNeue";
  font-size: 86px;
  line-height: 70px;
}

body .hero .container hr {
  width: 50vw;
  display: block;
  margin: 5px auto;
}

body .hero .container p {
  font-size: 24px;
  display: block;
  margin: 0px;
  line-height: 26px;
  font-weight: 200;
  text-align: center;
}

body .hero .container a.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.8em;
  background-color: white;
  padding: .1em;
  color: black;
  height: 2.8em;
  font-size: 1.2em;
  width: 10em;
  border-radius: 10em;
  font-weight: 200;
  line-height: 2.4em;
}

body .hero nav {
  display: flex;
  align-items: center;
}

body .hero nav a.navbar-brand {
  width: 200px;
  height: 100px;
  padding: 0px;
  background-image: url("../images/brand2.png");
  background-repeat: no-repeat;
  background-position: center;
}

body .hero nav ul {
  display: flex;
  float: right;
  margin-right: 5vw;
  margin-left: auto;
}

body .hero nav ul .vert-hr {
  height: 200% !important;
  width: 1px;
  background-color: white;
  color: white;
}

body .hero nav ul li {
  list-style: none;
  padding: 10px 15px;
  font-size: 24px;
  transition: all .3s ease;
}

body .hero nav ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body .hero nav ul li:nth-child(1) {
  border-right: 1px white solid;
}

body .hero nav ul li:nth-child(3) {
  display: none;
}

body .hero nav ul li:hover {
  border-bottom: 5px white solid;
  transform: translateY(2px);
}

body .hero nav .mobile-nav-trigger {
  display: none;
}

body .grid-cards {
  padding: 5vh 0px 0px 0px;
  color: #2f2f51 !important;
}

body .grid-cards .container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body .grid-cards .container img {
  height: 70px;
}

body .grid-cards .container h3 {
  margin-bottom: 0px;
  color: #2f2f51;
  font-weight: 400;
}

body .grid-cards .container p {
  font-weight: 100;
}

@media (max-width: 768px) {
  body .hero {
    height: 90vh;
    background-position: top center;
  }
  body .hero .container {
    top: 10vh;
    max-width: 90vw;
  }
  body .hero .container h1 {
    font-size: 10vw;
    line-height: 10vw;
  }
  body .hero .container p {
    font-size: 4vw;
    line-height: 4vw;
  }
  body nav ul {
    margin-left: auto;
    margin-right: 5vw !important;
    left: 0px;
  }
  body nav ul li:nth-child(2), body nav ul li:nth-child(1) {
    display: none;
  }
  body nav ul li:nth-child(3) {
    display: inherit !important;
  }
  body nav ul li:hover {
    border-bottom: 0px !important;
  }
  body nav .glyphicon-align-justify {
    position: relative;
    left: 0px;
  }
  body .grid-cards {
    padding-top: 10vh;
  }
  body .grid-cards .container .col-md-4 {
    margin-bottom: 3em;
  }
}
