@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.otf") format("truetype");
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.otf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-UltraLight.otf") format("truetype");
  font-weight: 100;
}

html, body {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat" !important;
  text-align: center;
}

a {
  cursor: pointer;
}

body .hero {
  color: white;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center -15vh;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

body .hero .container {
  position: relative;
  max-width: 60vw;
}

body .hero .hero-content {
  top: 15vh;
}

body .hero .hero-content h1 {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-family: "BebasNeue";
  font-size: 86px;
  line-height: 70px;
}

body .hero .hero-content hr {
  width: 50vw;
  display: block;
  margin: 5px auto;
  border-color: #a1a1a1;
}

body .hero .hero-content p {
  font-size: 24px;
  display: block;
  margin: 0px;
  line-height: 26px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 1.5em;
}

body .hero .hero-content a.btn2 {
  display: block;
  color: white;
  border: 1px white solid;
  border-radius: 10px;
  padding: .8em;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  cursor: pointer;
  transition: .3s all ease-in-out;
  box-shadow: 0px 0px 79px -10px rgba(0, 0, 0, 0.75);
}

body .hero .hero-content a.btn2:hover {
  transform: scale(1.1) translateY(-2px);
}

body .hero .hero-content a.btn {
  color: white !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: .1em;
  color: black;
  height: 2.8em;
  width: 12em;
  font-size: 1.2em;
  border-radius: 10px;
  font-weight: 200;
  line-height: 2.4em;
  background-color: #2f2f51;
}

body .hero .down-arrow {
  position: absolute;
  width: 100%;
  bottom: 5vh;
}

body .hero .down-arrow span {
  display: block;
  font-size: 2em;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

body .hero nav {
  display: flex;
  align-items: center;
}

body .hero nav a.navbar-brand {
  width: 200px;
  height: 100px;
  padding: 0px;
  background-image: url("../images/brand2.png");
  background-repeat: no-repeat;
  background-position: center;
}

body .hero nav ul {
  display: flex;
  float: right;
  margin-right: 5vw;
  margin-left: auto;
}

body .hero nav ul .vert-hr {
  height: 200% !important;
  width: 1px;
  background-color: white;
  color: white;
}

body .hero nav ul li {
  list-style: none;
  font-size: 24px;
  transition: all .3s ease;
}

body .hero nav ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  height: 45px;
  display: block;
  line-height: 45px;
}

body .hero nav ul li:nth-child(1) {
  border: 1px white solid;
  border-radius: 10px;
  min-width: 150px !important;
}

body .hero nav ul li:nth-child(2) {
  display: none;
}

body .hero nav .mobile-nav-trigger {
  display: none;
}

body #LoginModal, body #RegisterModal {
  color: black;
  text-align: left;
}

body #LoginModal .container, body #RegisterModal .container {
  width: 100%;
  top: 0vh;
}

body #LoginModal .container a.btn, body #RegisterModal .container a.btn {
  background-color: #e21851;
  width: 100%;
}

body #LoginModal .container a.btn.fb, body #RegisterModal .container a.btn.fb {
  background-color: #3b5998;
  width: auto;
  font-size: 16px;
  margin: 1em auto;
}

body #LoginModal .container .or-divider .other-hr, body #RegisterModal .container .or-divider .other-hr {
  width: 35%;
  display: inline-block;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

body #LoginModal .container button, body #RegisterModal .container button {
  margin-top: 10px;
  width: 100px;
}

body #LoginModal .container input, body #RegisterModal .container input {
  border: 0px;
  border-bottom: 2px #e3e3e3 solid;
  box-shadow: none !important;
  border-radius: 0px !important;
  transition: all .5s ease !important;
}

body #LoginModal .container input:focus, body #RegisterModal .container input:focus {
  border-bottom: 2px #212121 solid !important;
}

body .grid-cards {
  padding: 10vh 0px;
  color: #2f2f51 !important;
}

body .grid-cards .container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body .grid-cards .container img {
  height: 120px;
}

body .grid-cards .container h3 {
  margin-bottom: 0px;
  color: #2f2f51;
  font-weight: 400;
}

body .grid-cards .container p {
  font-weight: 100;
}

body footer {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 3vh;
  color: white !important;
  background-color: #212121;
}

body footer .container {
  width: 70vw;
}

body footer .container .ele-left {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

body footer .container .ele-left a {
  border-left: 1px solid white;
  width: 100%;
  padding: .5em 1em;
  color: white;
  transition: all .3s ease-in-out;
}

body footer .container .ele-left a:hover {
  background-color: white;
  color: black;
}

body footer .container .ele-right {
  display: flex;
  justify-content: space-between;
}

body footer .container a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

body footer .container hr {
  margin-top: 0px;
}

body footer .container .footer-social {
  display: block;
}

body footer .container h4 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 2vh;
}

.modal-content {
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  body .hero {
    height: 100vh;
    background-position: top center;
  }
  body .hero .container {
    top: 20vh;
    max-width: 90vw;
  }
  body .hero .container h1 {
    font-size: 10vw;
    line-height: 10vw;
  }
  body .hero .container p {
    font-size: 4vw;
    line-height: 4vw;
  }
  body .hero #LoginModal .container, body .hero #RegisterModal .container {
    top: 0vh;
  }
  body .hero #LoginModal .container a.btn, body .hero #RegisterModal .container a.btn {
    width: auto;
  }
  body .hero #LoginModal .container .or-divider, body .hero #RegisterModal .container .or-divider {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  body nav ul {
    margin-left: auto;
    margin-right: 5vw !important;
    left: 0px;
  }
  body nav ul li:hover {
    border-bottom: 0px !important;
  }
  body nav .glyphicon-align-justify {
    position: relative;
    left: 0px;
  }
  body .grid-cards {
    padding-top: 10vh;
  }
  body .grid-cards .container {
    width: 90vw;
  }
  body .grid-cards .container .col-md-4 {
    margin-bottom: 3em;
  }
  body .ele-left, body .ele-right {
    flex-direction: column;
  }
  body .ele-right {
    margin-bottom: 2vh;
  }
  body .ele-right span {
    text-align: left;
  }
}
