doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes')
    title Fanhoots
    // Bootstrap Core CSS
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // Custom CSS
    link(rel='stylesheet', href='css/style.css')
    script(src='https://use.fontawesome.com/14779ae62f.js')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
  body
  
    .hero
      nav.navbar.navbar-light
        a.navbar-brand
      .container
        h1.main-title For the love of the Game
        hr
        span  Join the fan discussions & share your latest sports opinions.
        span  Catch up on the latest buzz in sports & never miss any of the action.
        span  All from a fan perspective.
        a.btn Join us
    .grid-cards
      .container.row
        .col-md-4
          img(src='images/share.svg')
          h3 Share
          p Stuff about your favorite teams, events & players.
        .col-md-4
          img(src='images/discuss-issue.svg')
          h3 Discuss
          p Participate in Match Banter with like-minded people.
        .col-md-4
          img(src='images/Fanhoots-play-07.svg')
          h3  Play
          p Enjoy the thrill of Predicting & Betting on match results.

      
